{% extends "base/base.html" %}
{% block head_css %}
{{ super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('websites.static', filename='css/website.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" style="padding:2vh">
        {% for web in websites %}
            {{build_website_icon(web) }}
        {% endfor %}
    </div>
</div>
{% endblock %}


{% macro build_website_icon(website) %}
<div class="col-lg-4 col-md-12 website_app" onclick="location.href='/blog/{{website['id']}}'" style="cursor:pointer">
    <h1 class="website_title">{{website['id']}} <span class="fa fa-external-link-alt"></span></h1>
    <div class="website_img" style="background-image:url('{{url_for('websites.static',filename=website['img_src'])}}');background-repeat: no-repeat;
  background-size: 100%; background-position: center"></div>
</div>
{% endmacro %}