{% extends "base/base.html" %}
{% block head_css %}
{{ super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<style>
      h2 {width:100%;text-align:left;}


</style>
{% endblock %}

{% block content %}
<div class="container">
    {% if text %}

    <div class="row">
        <ul style="list-style-type:none; text-align:left;float:left; padding-left:0px;">
            <li><h3>{{ text['title'] }}</h3></li>
            <li><h5><i class="fas fa-globe-europe fa-lg"></i> <a href="{{ text['link'] }}">{{ text['link'] }} </a></h5>
            </li>
            {% if text['github'] %}
            <li><h5><i class="fab fa-github fa-lg white-text"> </i> <a href="{{ text['github'] }}">{{ text['github']
                }} </a></h5></li>
            {% endif %}
            <li>&nbsp;</li>
            <li><h5>{{ text['short_bio'] }}</h5></li>
        </ul>
    </div>
    <hr/>

    {% for section in text['bio'] %}
    <div class="row" style="text-align:left">
        {{section | safe}}
    </div>
    {% endfor %}

    {% endif %}
    <hr/>
</div>
{% endblock %}