footer {
    max-height:100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.row #social-links {
    text-align: center;
    display:inline-block;


}
#social-links  a > i {
    padding-left:30%;
}
