#apps_landing {
    min-height:100%;
    display:flex;
    padding-top:1vh;
    padding:0px;
}
#apps_landing_row {

    display:flex;
    min-height:100%;
    min-width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-top:1vh;
}
.app_outer{
    padding-right:1vw;
    padding-left:1vw;
    margin-bottom:2vh;
    min-height:425px;

}
.app {
   border: 5px lightgrey solid;
   padding:0.5vw;
   border-radius:10px;
   min-height:100%;
}
.app p{
float:left;}
.app form {
    float:left;
   bottom: 10px;
   position: absolute;
   padding-left: 38%;
}
.app img{
    min-width:100%;
    min-height:100px;
}

.app h1{
    text-align:center;
}
