#apps_landing {
    min-height:100%;
    display:flex;
    padding-top:1vh;
    padding:0px;
}
#apps_landing_row {

    display:flex;
    min-height:100%;
    min-width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-top:1vh;
}
.app_outer{
    padding-right:1vw;
    padding-left:1vw;
    margin-bottom:2vh;


}
.app {
   background-color:lightgrey;
   padding:0.5vw;
   border-radius:10px;
}
.app img{
    min-width:100%;
    min-height:100px;
    border:1px solid black;
}

.app h1{
    text-align:center;
}
