{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-1">
                <!--Linkedin -->
                <a class="social_links" href="https://www.linkedin.com/in/connorclarkson/" target="_blank">
                    <i class="fab fa-linkedin fa-lg white-text"></i>
                </a>
            </div>
            <!--<div class="col-md-1">-->
            <!--&lt;!&ndash;Instagram&ndash;&gt;-->
            <!--<a>-->
            <!--<i class="fab fa-instagram fa-lg white-text"> </i>-->
            <!--</a>-->
            <!--</div>-->
            <div class="col-md-1">
                <!--GitHub-->
                <a class="social_links" href="https://github.com/ConnorClarkson" target="_blank">
                    <i class="fab fa-github fa-lg white-text"> </i>
                </a>
            </div>
        </div>
        <!-- Grid row-->
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="text-center"><p>© 2020: Connor Clarkson</p></div>
</footer>
<!-- Footer -->
{% endblock %}