header #logo-main {
  display: block;
  margin: 20px auto;
  margin-bottom: 0px;
}

#navbar-primary.navbar-collapse {
  width: 100%;
  text-align: center;
}
.navbar-nav > a {
  display: inline-block;
  float: none;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  margin-bottom:5px;

}
.navbar-nav a:hover {
  margin-bottom:0px;
  border-bottom: 5px solid #000000;
}