{% extends "base/base.html" %}
{% block head_css %}
{{ super()}}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<style>
      h2 {width:100%;text-align:left;}
</style>
{% endblock %}

{% block content %}
<div class="container">
    {% if experience %}
        {% if experience['type'] == "work" %}
        <div class="row">
            <ul style="list-style-type:none; text-align:left;float:left; padding-left:0px;">
                <li><h3>{{ experience['job_title'] }}</h3></li>
                <li><h3>{{ experience['company'] }}</h3></li>
                <li><h4>{{ experience['dates'] }}</h4></li>
                <li>&nbsp;</li>
                <li><h5>{{ experience['short_bio'] }}</h5></li>
            </ul>
        </div>
        <hr/>
        <div class="row">
            <h2>Experience</h2>
            <ul style="list-style-type:none; text-align:left;">
                {% for project in experience['bio'] %}
                <li><p>{{ project | safe}}</p></li>
                {%- endfor %}
            </ul>
        </div>
        {% if 'technologies' in experience %}
        <div class="row">
            <h2>Key Technologies</h2>
            <ul style="list-style-type:none; text-align:left;">
                {% for project in experience['technologies'] %}
                <li><p>{{ project }}</p></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if 'achievements' in experience %}
        <div class="row">
            <h2>Key Achievements</h2>
            <ul style="list-style-type:none; text-align:left;">
                {% for project in experience['achievements'] %}
                <li><p>{{ project }}</p></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% elif experience['type'] == "education" or experience['type'] == "certification" %}
        <div class="row">
            <ul style="list-style-type:none; text-align:left;float:left; padding-left:0px;">
                <li><h3>{{ experience['qualification'] }}</h3></li>
                <li><h3>{{ experience['school'] }}</h3></li>
                <li><h4>{{ experience['dates'] }}</h4></li>
                <li><h5>{{ experience['short_bio'] }}</h5></li>
            </ul>
        </div>
        {% if 'bio' in experience %}
        <hr/>
        <div class="row">
            <h2>Course</h2>
            <ul style="list-style-type:none; text-align:left;">
                {% for project in experience['bio'] %}
                {% if '-' not in project[1] %}
                <li>&nbsp;</li>
                {% endif %}
                <li><p>{{ project }}</p></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% elif experience['type'] == "blog" %}
        <div class="row">
            <ul style="list-style-type:none; text-align:left;float:left; padding-left:0px;">
                <li><h3>{{ experience['title'] }}</h3></li>
                <li><h5><a href="{{ experience['link'] }}">{{ experience['link'] }} </a></h5></li>
                <li>&nbsp;</li>
                <li><h5>{{ experience['short_bio'] }}</h5></li>
            </ul>
        </div>
        <hr/>
        {% endif %}
    {% endif %}
    <hr/>
</div>
{% endblock %}