{% extends "base/base.html" %}
{% block head_css %}
   {{ super()}}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/cv.css') }}">

{% endblock %}

{% block content %}
   {% if resume %}
   <div  class="row justify-content-md-center"  id="cv_row">
      <div class="col-md-6">
         {% for year in resume %}
         <h4 style="text-align:left"> {{year}} </h4>

            {% for proj in resume[year] %}
            <div>
               <ul style="list-style-type: none;">
                  <li ><p>{{config['dates']}}</p></li>
                  <li>
                     {% if proj['type'] == 'work' %}
                        {{build_work(proj) }}

                     {% elif proj['type'] == 'education' %}
                        {{build_edu(proj) }}

                     {% elif proj['type'] == 'certification' %}
                        {{build_cert(proj) }}

                     {% endif %}
                     {% if  proj['short_bio'] |string() != "" %}
                        <p style="text-align:left;"> {{ proj['short_bio']}} </p>
                     {% endif %}

                  </li>
               </ul>
            </div>

            {% endfor %}
         {% endfor %}
      </div>

   </div>
   {% endif %}
{% endblock %}


{% macro build_work(config) %}
   <i style="float:left; padding-top:4px;" class="fas fa-lg fa-briefcase"> - &nbsp;</i>
   <a style="text-align:left" href="{{ url_for('cv_extended', cv_id=config['id']) }}"> <h5>{{config['job_title']}} - {{config['company']}}</h5></a>

{% endmacro %}

{% macro build_edu(config) %}
      <i style="float:left; padding-top:4px;" class="fas fa-lg fa-graduation-cap"> - &nbsp;</i>
      <a style="text-align:left" href="{{ url_for('cv_extended', cv_id=config['id']) }}"><h5> {{config['qualification']}} </h5></a>

{% endmacro %}

{% macro build_cert(config) %}
      <i style="float:left; padding-top:4px;" class="fas fa-lg fa-award"> - &nbsp;</i>
      <a style="text-align:left" href="{{ url_for('cv_extended', cv_id=config['id']) }}"><h5> {{config['qualification']}} </h5></a>

{% endmacro %}