{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 offset-md-3">
        <div class="row">
          <div id="social-links" class="col-md-2 offset-md-3">
            <!--Linkedin -->
            <a>
              <i class="fab fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
            </a>
          </div>
          <div id="social-links" class="col-md-2">
            <!--Instagram-->
            <a>
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </div>
          <div id="social-links" class="col-md-2">
            <!--GitHub-->
            <a>
              <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright: Connor Clarkson</div>
</footer>
<!-- Footer -->
{% endblock %}